{% load i18n %}
{% load static %}

    <div class="pay-main-content" style="padding: 20px;">      
        <!--Review start-->
        <div class='title'>
            Faculty management
        </div>
        <!--Download pan start-->
        <div class="download_pan">
            <a href="#"><i class="fa fa-download"></i>Data Management Operation Guide</a>
            <a href="#"><i class="fa fa-play-circle-o"></i>View operation video</a>
        </div><!--Download pan end-->
        <div class="header">
            <form method="get" action="" onsubmit="">
                <div class="form-group">
                    <div class="item">
                        <label>Name</label>
                        <input class="form-control">
                    </div>

                    <div class="item">
                        <label>Parent cell phone</label>
                        <input class="form-control">
                    </div>

                    <div class="item">
                        <input type="submit" value="Inquire">
                    </div>
                </div>
            </form>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <div class="btn-group">
                <button class="default" id="id_btn_add_faculty">Add</button>
                <button class="default">Delete Select</button>
                <button class="default">Data output</button>
                <button class="default">Data import</button>
            </div>
    
            <div class="btn-group">
                <button id="btn_back" class="border">Return</button>
                <button class="border">Home</button>
            </div>

        </div>
    
        <div class="table">
            <table id="dataTable1" class="no_sort">
                <thead class="">
                    <tr role="row">
                        <th>
                            <input id="check_select_all" type="checkbox">
                        </th>
                        <th>Name</th>
                        <th>Cell phone</th>
                        <th>Character</th>
                        <th>Class</th>
                        <th>WeChat Follow Status</th>
                        <th>Alipay attention status	</th>
                        <th>operating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>Li Yufei</td>
                        <td>Cheng Yanan/186****3595</td>
                        <td>Fengcheng Dianshi Kindergarten</td>
                        <td>Toban (2) class</td>
                        <td>Not followed</td>
                        <td>Not followed</td>
                        <td>
                            <input type="button" value="Modify">
                            <input type="button" value="Delete">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>Li Yufei</td>
                        <td>Cheng Yanan/186****3595</td>
                        <td>Fengcheng Dianshi Kindergarten</td>
                        <td>Toban (2) class</td>
                        <td>Not followed</td>
                        <td>Not followed</td>
                        <td>
                            <input type="button" value="Modify">
                            <input type="button" value="Delete">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>Li Yufei</td>
                        <td>Cheng Yanan/186****3595</td>
                        <td>Fengcheng Dianshi Kindergarten</td>
                        <td>Toban (2) class</td>
                        <td>Not followed</td>
                        <td>Not followed</td>
                        <td>
                            <input type="button" value="Modify">
                            <input type="button" value="Delete">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>Li Yufei</td>
                        <td>Cheng Yanan/186****3595</td>
                        <td>Fengcheng Dianshi Kindergarten</td>
                        <td>Toban (2) class</td>
                        <td>Not followed</td>
                        <td>Not followed</td>
                        <td>
                            <input type="button" value="Modify">
                            <input type="button" value="Delete">
                        </td>
                    </tr>
            </tbody>
            </table>
        </div><!--Review end-->
    </div>
<script>
    (function($) {
        $(document).ready(function() {
        //Reviewer
            $('#check_select_all').on('change', function () {
                
                var table = $(this).closest('table')
                var status = $(this).is(":checked")

                // console.log(table.find("tbody tr td input[type='checkbox']"))

                table.find("tbody tr td input[type='checkbox']").prop( "checked", status );
            });
        });

    })(jQuery);

</script>
