<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>家校堡</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="../assets/img/favicon.png">
    <link rel="apple-touch-icon" href="../assets/img/apple-touch-icon.png">

    <link rel="stylesheet" href="../assets/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/vendor/css/themify-icons.css">
    <link rel="stylesheet" href="../assets/vendor/css/metisMenu.css">
    <link rel="stylesheet" href="../assets/vendor/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/vendor/css/slicknav.min.css">
    
    <link rel="stylesheet" href="../assets/vendor/css/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/vendor/glightbox/css/glightbox.min.css">
    <link rel="stylesheet" href="../assets/vendor/swiper/swiper-bundle.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="../assets/vendor/css/font-awesome.min.css">
    
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />





    <!-- Start datatable css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
    
    <!-- others css -->
    <link rel="stylesheet" href="../assets/css/typography.css">
    <link rel="stylesheet" href="../assets/css/default-css.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <!-- <link rel="stylesheet" href="assets/css/front_style.css"> -->

    <!-- modernizr css -->
    <script src="assets/vendor/js/modernizr-2.8.3.min.js"></script>


    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="bootstrap-wysihtml5.css">
    <link rel="stylesheet" href="prettify.css">
</head>

<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->

    <div class="pay-main-content">      
        <!--Scan Code to Charge start-->
        <div class="content">
            <div class='title'>
                Request a refund
            </div>
            <div class = "table">
                <table class="layout_table autowidth">
                    <tr>
                        <td>Transaction order number</td>
                        <td>
                            <div class="item">
                                <label>576323259868090368</label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>project name</td>
                        <td>
                            <div class="item">
                                <label>Dianshi International Education Center</label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Payment items</td>
                        <td>
                            <div class="item">
                                <label>Dianshi International Education Center (450.00)</label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Payment amount</td>
                        <td>
                            <div class="item">
                                <label>$450.00</label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>payment method</td>
                        <td>
                            <div class="item">
                                <label>WeChat Pay</label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>transaction hour</td>
                        <td>
                            <div class="item">
                                <label>2021-05-10 08:23:12</label>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Refund method</td>
                        <td>
                            <div class="item">
                                <input type="radio" id="radio1" name="radio_group1" checked>
                                <label class="control_label" for="radio1">Refund on the same route</label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Refund amount</td>
                        <td>
                            <div class="item">
                                <input type="radio" id="radio2" name="radio_group2" checked>
                                <label class="control_label" for="radio2">full refund</label>

                                <input type="radio" id="radio3" name="radio_group2">
                                <label class="control_label" for="radio3">Partial refund</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Refund instructions</td>
                        <td>
                            <label>Please select the main reason for the refund:</label>
                            <div class="item" style="margin-top: 20px;">
                                <div class="form-check" style="width: 20%;">
                                    <input class="form-check-input" type="checkbox" id="check1">
                                    <label class="form-check-label" for="check1">Mishanded, mispaid fees</label>
                                </div>
                                <div class="form-check" style="width: 20%;">
                                    <input class="form-check-input" type="checkbox" id="check2">
                                    <label class="form-check-label" for="check2">Not participating, not participating	</label>
                                </div>
                                <div class="form-check" style="width: 20%;">
                                    <input class="form-check-input" type="checkbox" id="check3">
                                    <label class="form-check-label" for="check3">Duplicate payment	</label>
                                </div>
                                <div class="form-check" style="width: 20%;">
                                    <input class="form-check-input" type="checkbox" id="check4">
                                    <label class="form-check-label" for="check4">Preferential policy	</label>
                                </div>
                                <div class="form-check" style="width: 20%;">
                                    <input class="form-check-input" type="checkbox" id="check5">
                                    <label class="form-check-label" for="check5">Overpay</label>
                                </div>
                                <div class="form-check" style="width: 20%;">
                                    <input class="form-check-input" type="checkbox" id="check6">
                                    <label class="form-check-label" for="check6">Grade/class error	</label>
                                </div>
                                <div class="form-check" style="width: 20%;">
                                    <input class="form-check-input" type="checkbox" id="check7">
                                    <label class="form-check-label" for="check7">Drop out/transfer/graduate	</label>
                                </div>
                                <div class="form-check" style="width: 20%;">
                                    <input class="form-check-input" type="checkbox" id="check8">
                                    <label class="form-check-label" for="check8">Cash paid	</label>
                                </div>
                                <div class="form-check" style="width: 20%;">
                                    <input class="form-check-input" type="checkbox" id="check9">
                                    <label class="form-check-label" for="check9">Test refund	</label>
                                </div>
                                <div class="form-check" style="width: 20%;">
                                    <input class="form-check-input" type="checkbox" id="check10">
                                    <label class="form-check-label" for="check10">other reasons</label>
                                </div>
                                
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="btn-group" style="justify-content: center; margin-top: 20px;">
                    <button class="default">Submit an application</button>
                    <button class="border">Return</button>
                </div>
            </div>
        </div><!--Scan Code to Charge end-->
    </div>

    <!-- jquery latest version -->
    <script src="../assets/vendor/js/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="../assets/vendor/js/popper.min.js"></script>
    <script src="../assets/vendor/js/bootstrap.min.js"></script>
    <script src="../assets/vendor/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/js/owl.carousel.min.js"></script>
    <script src="../assets/vendor/js/metisMenu.min.js"></script>
    <script src="../assets/vendor/js/jquery.slimscroll.min.js"></script>
    <script src="../assets/vendor/js/jquery.slicknav.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="../assets/vendor/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="../assets/vendor/js/pie-chart.js"></script>







    <!-- Start datatable js -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>

    <!-- others plugins -->
    <script src="../assets/vendor/js/plugins.js"></script>
    <script src="../assets/js/scripts.js"></script>
    <script src="../assets/js/front_main.js"></script>


    <script src="wysihtml5-0.3.0.js"></script>
    <script src="prettify.js"></script>
    <script src="bootstrap-wysihtml5.js"></script>
</body>



<script>
    (function($) {
        var gotoPaymentDetail = function(){
            $("a[href='#tab_paymentdetail']").tab('show');
        }

        var addItemtoTable = function(table){
            var tbody = table.children('tbody');
            var addTr = tbody.children('tr').last();
            table.children('tbody').append(addTr.clone());
            addTr = tbody.children('tr').last();
            addTr.find('input').val("");
            // addTr.find('select').val("-1")
        }

        $(document).ready(function() {
            $('#editor_description').wysihtml5({
                "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
                "emphasis": true, //Italics, bold, etc. Default true
                "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                "html": false, //Button which allows you to edit the generated HTML. Default false
                "link": false, //Button to insert a link. Default true
                "image": false, //Button to insert an image. Default true,
                "color": true //Button to change color of font  
            });

            $('#btn_back').on('click', function () {
                gotoPaymentDetail();
            });

            $('#projectName_modal_ok').on('click', function () {
                var table = $('#table_amout_option')

                $('#modal_projectName_add .normal_table tbody input[type="checkbox"]').each(function(){
                    if($(this).is(':checked')){
                        addItemtoTable(table);
                        var projectName = $(this).closest('tr').children('td').eq(1).html();
                        var lastTr = table.children('tbody').children('tr').last();
                        lastTr.find('input.text_project_name').val(projectName)
                    }
                });

                $('.closeBtn').click();

            });

            $('#btn_projectName_amount_add').on('click', function () {
                var table = $('#table_amout_option')
                addItemtoTable(table);
            });

            $('#btn_projectName_register_information_add').on('click', function () {
                var table = $('#table_information_before_reg')
                addItemtoTable(table);
            });

            

            $(document).on('click', '.btn_item_remove', function(){
                var tr = $(this).closest('tr')
                var tbody = $(this).closest('tbody')
                var allTr = tbody.children('tr')
                if(allTr.length > 1){
                    tr.remove()
                }else{
                    alert("Don't remove")
                }
            });

            $(document).on('click', '.btn_item_down', function(){
                var tr = $(this).closest('tr')
                tr.insertAfter(tr.next());
            });

            $(document).on('click', '.btn_item_up', function(){
                var tr = $(this).closest('tr')
                tr.insertBefore(tr.prev());
            });
        });

    })(jQuery);

</script>
</html>
