<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>家校堡</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="../assets/img/favicon.png">
    <link rel="apple-touch-icon" href="../assets/img/apple-touch-icon.png">

    <link rel="stylesheet" href="../assets/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/vendor/css/themify-icons.css">
    <link rel="stylesheet" href="../assets/vendor/css/metisMenu.css">
    <link rel="stylesheet" href="../assets/vendor/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/vendor/css/slicknav.min.css">
    
    <link rel="stylesheet" href="../assets/vendor/css/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/vendor/glightbox/css/glightbox.min.css">
    <link rel="stylesheet" href="../assets/vendor/swiper/swiper-bundle.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="../assets/vendor/css/font-awesome.min.css">
    
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />


    <!-- Start datatable css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
    
    <!-- others css -->
    <link rel="stylesheet" href="../assets/css/typography.css">
    <link rel="stylesheet" href="../assets/css/default-css.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <!-- <link rel="stylesheet" href="assets/css/front_style.css"> -->

    <!-- modernizr css -->
    <script src="assets/vendor/js/modernizr-2.8.3.min.js"></script>


    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="bootstrap-wysihtml5.css">
    <link rel="stylesheet" href="prettify.css">
</head>

<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->

    <div class="pay-main-content">      
        <!--Scan Code to Charge start-->
        <div class="content">
            <div class='title'>
                Set up the teacher in charge of "Tutoring Class (2) Class"
            </div>

            <table class="layout_table autowidth">
                <tr>
                    <td>Set up a class teacher</td>
                    <td>
                        <div class="modal-body">
                            <input id="txt_search" class="form-control" style="width: 100%; margin-bottom: 20px;" placeholder="Please enter the teacher name">
                            
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check_select_all">
                                <label class="form-check-label" for="check_select_all">Select All</label>
                            </div>  
                            
                            <div class="checkbox_group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Steven</label>
                                </div> 

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Kevin</label>
                                </div> 

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Sergiy</label>
                                </div> 

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Rothchild</label>
                                </div> 

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Jay</label>
                                </div> 

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Alex</label>
                                </div> 

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Aladdin</label>
                                </div> 

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Hook</label>
                                </div> 

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Robinhood</label>
                                </div> 

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">长老师</label>
                                </div> 
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <div class="btn-group" style="justify-content: center; margin-top: 20px;">
                <button id="btn_save" class="default">Save</button>
                <button class="border">Return</button>
            </div>
            
        </div><!--Scan Code to Charge end-->
    </div>

    <!-- jquery latest version -->
    <script src="../assets/vendor/js/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="../assets/vendor/js/popper.min.js"></script>
    <script src="../assets/vendor/js/bootstrap.min.js"></script>
    <script src="../assets/vendor/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/js/owl.carousel.min.js"></script>
    <script src="../assets/vendor/js/metisMenu.min.js"></script>
    <script src="../assets/vendor/js/jquery.slimscroll.min.js"></script>
    <script src="../assets/vendor/js/jquery.slicknav.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="../assets/vendor/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="../assets/vendor/js/pie-chart.js"></script>







    <!-- Start datatable js -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>

    <!-- others plugins -->
    <script src="../assets/vendor/js/plugins.js"></script>
    <script src="../assets/js/scripts.js"></script>
    <script src="../assets/js/front_main.js"></script>


    <script src="wysihtml5-0.3.0.js"></script>
    <script src="prettify.js"></script>
    <script src="bootstrap-wysihtml5.js"></script>
</body>



<script>
    (function($) {
        $(document).ready(function() {
        //Reviewer
            $('#txt_search').on('input', function () {
                var strSearchval = $(this).val();
                if(strSearchval == ""){
                    $('.checkbox_group .form-check').show()
                }else{
                    $('.checkbox_group .form-check').hide()

                    $( ".checkbox_group .form-check .form-check-label:contains(" + strSearchval + ")" ).each(function(){
                        $(this).closest('.form-check').show()
                    })
                }
            })

            $('#check_select_all').on('change', function () {
                var status = $(this).is(":checked")
                $('.checkbox_group .form-check .form-check-input').prop('checked', status);
            });

            $('#btn_save').on('click', function () {
                $('.checkbox_group .form-check .form-check-input').each(function(){
                    if($(this).is(":checked")){
                        var strName = $(this).closest('.form-check').children('.form-check-label').html();
                        alert(strName)
                    }
                })
            });
        });

    })(jQuery);

</script>
</html>
