{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>家校堡</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="icon" href="{% static 'assets/img/favicon.png' %}">
  <link rel="apple-touch-icon" href="{% static 'assets/img/apple-touch-icon.png' %}">

  <link rel="stylesheet" href="{% static 'assets/vendor/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/css/metisMenu.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/css/slicknav.min.css' %}">
  
  <link rel="stylesheet" href="{% static 'assets/vendor/css/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/vendor/css/font-awesome.min.css' %}">
  
  <!-- amchart css -->
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <!-- others css -->
  <link rel="stylesheet" href="{% static 'assets/css/typography.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/default-css.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/front_style.css' %}">

  <!-- modernizr css -->
  <script src="{% static 'assets/vendor/js/modernizr-2.8.3.min.js' %}"></script>

</head>

<body>

{% block content %}
{% endblock %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- jquery latest version -->
  <script src="{% static 'assets/vendor/js/jquery-2.2.4.min.js' %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static 'assets/vendor/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/vendor/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'assets/vendor/js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'assets/vendor/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="{% static 'assets/vendor/js/line-chart.js' %}"></script>
    <!-- all pie chart -->
    <script src="{% static 'assets/vendor/js/pie-chart.js' %}"></script>
    <!-- others plugins -->
    <script src="{% static 'assets/vendor/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <script src="{% static 'assets/js/front_main.js' %}"></script>
</body>

</html>