{% load static %}

<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="index.html"><img src="{% static 'assets/img/icon/logo.png' %}" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li {%if sidebar == 'dashboard'%}class='active'{%endif%}>
                        <a href="{% url 'app_dashboard:dashboard-view' %}" data-url="{% url 'app_dashboard:dashboard-view' %}" id='id_a_dashboard_view_index' aria-expanded="true"><img src="{% static 'assets/img/navicon/home.png' %}"></i><span>首页</span></a>
                    </li>
                    <li {%if sidebar == 'billingcenter'%}class='active'{%endif%}>
                        <a href="{% url 'app_billing:billingcenter-index' %}" aria-expanded="true"><img src="{% static 'assets/img/navicon/charge.png' %}"><span>收费中心</span></a>
                        <!--
                        <ul class="collapse">
                            <li><a href="index.html">发布收费</a></li>
                            <li><a href="index.html">收费管理</a></li>
                            <li><a href="index.html">其他收费</a></li>
                            <li><a href="index.html">结算中心</a></li>
                            <li><a href="index.html">支付中心</a></li>
                        </ul>
                        -->
                    </li>
                    <li {%if sidebar == 'app_attendance'%}class='active'{%endif%}>
                        <a href="{% url 'app_attendance:attendance-index' %}" aria-expanded="true"><img src="{% static 'assets/img/navicon/check.png' %}"><span>考勤中心</span></a>
                        <!--
                        <ul class="collapse">
                            <li><a href="barchart.html">bar chart</a></li>
                            <li><a href="linechart.html">line Chart</a></li>
                            <li><a href="piechart.html">pie chart</a></li>
                        </ul>
                        -->
                    </li>
                    <li {%if sidebar == 'app_management'%}class='active'{%endif%}>
                        <a href="{% url 'app_management:management-index' %}" aria-expanded="true"><img src="{% static 'assets/img/navicon/setting.png' %}"><span>校务中心</span></a>
                        <!--
                        <ul class="collapse">
                            <li><a href="accordion.html">Accordion</a></li>
                            <li><a href="alert.html">Alert</a></li>
                            <li><a href="badge.html">Badge</a></li>
                            <li><a href="button.html">Button</a></li>
                            <li><a href="button-group.html">Button Group</a></li>
                            <li><a href="cards.html">Cards</a></li>
                            <li><a href="dropdown.html">Dropdown</a></li>
                            <li><a href="list-group.html">List Group</a></li>
                            <li><a href="media-object.html">Media Object</a></li>
                            <li><a href="modal.html">Modal</a></li>
                            <li><a href="pagination.html">Pagination</a></li>
                            <li><a href="popovers.html">Popover</a></li>
                            <li><a href="progressbar.html">Progressbar</a></li>
                            <li><a href="tab.html">Tab</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="form.html">Form</a></li>
                            <li><a href="grid.html">grid system</a></li>
                        </ul>
                        -->
                    </li>
                    <li {%if sidebar == 'app_studying'%}class='active'{%endif%}>
                        <a href="{% url 'app_studying:studying-index' %}" aria-expanded="true"><img src="{% static 'assets/img/navicon/study.png' %}"><span>学习中心</span></a>
                        <!--
                        <ul class="collapse">
                            <li><a href="fontawesome.html">fontawesome icons</a></li>
                            <li><a href="themify.html">themify icons</a></li>
                        </ul>
                        -->
                    </li>
                    <li {%if sidebar == 'app_interaction'%}class='active'{%endif%}>
                        <a href="{% url 'app_interaction:interaction-index' %}" aria-expanded="true"><img src="{% static 'assets/img/navicon/commercial.png' %}"><span>家校互动</span></a>
                        <!--
                        <ul class="collapse">
                            <li><a href="login.html">Login</a></li>
                            <li><a href="login2.html">Login 2</a></li>
                            <li><a href="login3.html">Login 3</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="register2.html">Register 2</a></li>
                            <li><a href="register3.html">Register 3</a></li>
                            <li><a href="register4.html">Register 4</a></li>
                            <li><a href="screenlock.html">Lock Screen</a></li>
                            <li><a href="screenlock2.html">Lock Screen 2</a></li>
                            <li><a href="reset-pass.html">reset password</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                        </ul>
                        -->
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>