{% load i18n %}
{% load static %}

<div class="main-content-inner">
    <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="btn_tab1" data-toggle="pill" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">行政审批</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="btn_tab2" data-toggle="pill" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">人事管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="btn_tab3" data-toggle="pill" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">信息沟通</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="btn_tab4" data-toggle="pill" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">业务管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="btn_tab5" data-toggle="pill" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false">工作执行</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="btn_tab6" data-toggle="pill" href="#tab6" role="tab" aria-controls="tab6" aria-selected="false">数据管理</a>
        </li>
    </ul>
    
    <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="btn_tab1">
            <div class="row">
                <div class="row col-md-12">
                    <div class="main_item col-md-4">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/administrative_approval.png' %}">
                        <a class="main_item_title" href="#">行政审批</a>
                    </div>
                    <div class="main_item col-md-4">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/conference_management.png' %}">
                        <a class="main_item_title" href="#">会议管理</a>
                    </div>
                    <div class="main_item col-md-4">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/car_management.png' %}">
                        <a class="main_item_title" href="#">用车管理</a>
                    </div>
                    <div class="main_item col-md-4">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/book_management.png' %}">
                        <a class="main_item_title" href="#">图书管理</a>
                    </div>
                    <div class="main_item col-md-4">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/photo_management.png' %}">
                        <a class="main_item_title" href="#">相册管理</a>
                    </div>
                    <div class="main_item col-md-4">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/office_supplies.png' %}">
                        <a class="main_item_title" href="#">办公用品</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="btn_tab2">
            <div class="row">
                <div class="row col-md-12">
                    <div class="main_item col-md-4">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/attendance_management.png' %}">
                        <a class="main_item_title" href="#">考勤管理</a>
                    </div>
                    <div class="main_item col-md-4">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/vacation_management.png' %}">
                        <a class="main_item_title" href="#">假期管理</a>
                    </div>
                    <div class="main_item col-md-4">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/performance_management.png' %}">
                        <a class="main_item_title" href="#">绩效管理</a>
                    </div>
                    <div class="main_item col-md-4">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/personnel_management.png' %}">
                        <a class="main_item_title" href="#">人事管理</a>
                    </div>
                    <div class="main_item col-md-4">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/salary_management.png' %}">
                        <a class="main_item_title" href="#">薪酬管理</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="btn_tab3">
            <div class="row">
                <div class="row col-md-12">
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/document_center.png' %}">
                        <a class="main_item_title" href="#">文档中心</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/announcement_management.png' %}">
                        <a class="main_item_title" href="#">公告管理</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/news_management.png' %}">
                        <a class="main_item_title" href="#">新闻管理</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/instant_messaging.png' %}">
                        <a class="main_item_title" href="#">即时通讯</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/external_mail.png' %}">
                        <a class="main_item_title" href="#">外部邮件</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/internal_mail.png' %}">
                        <a class="main_item_title" href="#">内部邮件</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/cooperative_district.png' %}">
                        <a class="main_item_title" href="#">协作区</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/address_book.png' %}">
                        <a class="main_item_title" href="#">通讯录</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="btn_tab4">
            <div class="row">
                <div class="row col-md-12">
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/client_management.png' %}">
                        <a class="main_item_title" href="#">客户管理</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/project_management.png' %}">
                        <a class="main_item_title" href="#">项目管理</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/cost_control_management.png' %}">
                        <a class="main_item_title" href="#">费控管理</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/revenue_expenditure_management.png' %}">
                        <a class="main_item_title" href="#">收支管理</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="btn_tab5">
            <div class="row">
                <div class="row col-md-12">
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/task_management.png' %}">
                        <a class="main_item_title" href="#">客户管理</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/schedule_management.png' %}">
                        <a class="main_item_title" href="#">项目管理</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/weibo_logbook.png' %}">
                        <a class="main_item_title" href="#">费控管理</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="btn_tab6">
            <div class="row">
                <div class="row col-md-12">
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/student_management.png' %}">
                        <a class="main_item_title" href="{% url 'app_management:management-manage-student' %}">学生管理</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/class_management.png' %}">
                        <a class="main_item_title" href="{% url 'app_management:management-manage-class' %}">班级管理</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/teacher_management.png' %}">
                        <a class="main_item_title" href="#">老师管理</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/account_management.png' %}">
                        <a class="main_item_title" href="#">账户管理</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/rule_setup.png' %}">
                        <a class="main_item_title" href="#">规则设置</a>
                    </div>
                    <div class="main_item col-md-3">
                        <img class="main_item_image" src="{% static 'assets/img/mainicon/school_display.png' %}">
                        <a class="main_item_title" href="#">学校展示</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
